<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action ="/addDrinks" method="POST">
        <fieldset style="width: 0px;">
            <legend>Add a Drink:</legend>
            <label for="drink_name">drink_name:</label>
            <input type="text" id="drink_name" name = "drink_name">
            <br><br>
            <label for="drink_ingredients">drink_ingredients:</label>
            <input type="text" id="drink_ingredients" name = "drink_ingredients">
            <br><br>
            <label for="drink_price">drink_price:</label>
            <input type="text" id="drink_price" name = "drink_price">
            <br><br>
            <label for="drink_ranking">drink_ranking:</label>
            <input type="drink_ranking" id="drink_ranking" name = "drink_ranking">
            <br><br>
            <label for="drink_sweetness">drink_sweetness:</label>
            <input type="drink_sweetness" id="drink_sweetness" name = "drink_sweetness">
            <br><br>
            <label for="tasted">tasted:</label>
            <input type="text" id="tasted" name = "tasted">
            <br><br>
        </fieldset>
        <button type="submit">Submit</button>
    </form>
</body>
</html>