<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3 id="response"></h3>
    <td>
        <form action="/" method="GET">
            <button type="submit"  style="background-color:black; color: white; padding: 1.5em">Home</button>
        </form>
    </td>
    <td>
        <form action="/displayDrinks" method="POST">
            <button type="submit"  style="background-color:black; color: white; padding: 1.5em">Display Drinks</button>
        </form>
    </td>
    <script>
        document.getElementById("response").innerHTML = response;
    </script>
</body>
</html>